body {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}

header {
    padding: 25px;
    background: #223f5d;
    color: white;
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 25px 10px 10px;
    background: #dcdcdc;
}

.big_title {
    margin-left: 140px;
}

.small_title {
    text-align: center
}

.title-style {
    font-weight: bold;
}

.maplr_size {
    width: 150px;
    height: 60px;
}

.icon_size {
    width: 60px;
    height: 60px;
    filter: brightness(0) invert(1);
}

.home-page {
    margin-left: 1150px;
}


.global-container {
    padding: 30px;
}

.intro {
    font-style: italic;
}

.table-style {
    width: 70% !important;
    margin: 20px
}


.table-button {
    background-color: #fa0505;
    border: 2px solid #223f5d;
    color: white;
    width: 30px;
    font-weight: bold;
}

.global-button {
    background-color: #fa0505;
    border: 2px solid #223f5d;
    color: white;
    width: 140px;
    height: 50px;
    font-weight: bold;
}

.flag_size {
    width: 30px;
    height: 15px;
}
